.right {
    float: right;
}

.large-header{
    /*height: 46vh;*/
    position: relative;
    width: 100%;
}

.low-center{
    /*position: relative; */
    /* bottom: 0%; */
    /*display: inline-block;*/
    height: 100%;
    padding-top: 100px;
}

.spacer{
    height:33%;
}

p.tag-line {
    font-size: 22px;
    color: gray;
    font-weight: 645;
    padding-top: 10px;
}

.header{
    text-align: center;
    height:fit-content;
}

.nav-link{
    padding: 2.5rem 4rem .5rem 1rem;
}
.nav-link>.right> a{
    color: #5d5d5d;
    font-weight: 745;
}