button#dropdownMenuButton {
    padding: 0px;
    background-color: #CCCFCE;
    color: black;
    border: none;
    width: 21%;
    min-width: fit-content;
    font-size:73%;
    height: -webkit-fill-available;
}
button[aria-expanded="true"]{
    border:none;
  }
  .search-area {
    border: none;
    padding: 0px 0px 0px 10px;
    width: 70%;
}

.search-form-group {
    border: 1.5px solid gray;
    border-radius: 5px;
    background-color: white;
    height: 35px;
    width: 100%;
}

button.btn.btn-outline-light {
    height: 100%;
}