.form-content{
    margin:10px auto;
}

.form-control.username{
    
    padding-right: calc(1.5em + .75rem);
    background-image: url("https://img.icons8.com/windows/64/808080/user.png");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.password{
    
    padding-right: calc(1.5em + .75rem);
    background-image: url("https://img.icons8.com/android/24/808080/lock.png");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}